.flex-box{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-box-header{
    display: flex;
    width: 50%;
    justify-content: center;
}

.flex-input-group-addon{
    display: flex;
    align-items: center;
    padding-left: 1em;
    background-color: lightgray;
    padding-right: 1em;
}

.flex-center{
    display: flex;
    width:100%;
    justify-content: center;
}